body {
	background-color: #ddd; /* Background color */
	color: #222; /* Foreground color used for text */
	font-family: Helvetica;
	font-size: 14px;
	margin: 0;
	/* Amount of negative space around the outside of the body */
	padding: 0;
	/* Amount of negative space around the inside of the body */
}

table {
	margin: 1px;
	padding: 0;
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

td,th {
	border: 1px solid;
	text-align: center;
}

th {
	background-color: #7ABDD1;
}

td {
	background-color: #DCF4FB;
}

.en-maintenance {
	color: #D1D1D1;
}

.ok {
	color: green;
}

.ko {
	color: red;
}

#header h1 {
	margin: 0;
	background-color: #ccc;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc),
		to(#999) );
}

#content {
	padding: 10px;
}

#content ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}

#content ul li {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	display: block;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 12px 10px;
}

#content ul li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

#content ul li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

#content ul li a {
	text-decoration: none;
	color: #222222;
}

#content .statut {
	float: right;
	text-align: left;
}

#content .statut span {
	position:absolute;
	right:70px;
}

#content .statut span.en-maintenance{
	position:absolute;
	right:30px;
}

#content .statut span + span{
	right:30px;
}