.en-maintenance {
	color: #D1D1D1;
}

.ok {
	color: green;
}

.ko {
	color: red;
}


.page-mes-stations .ui-icon-arrow-r {
	display: none;
}

.page-mes-stations span.station {
	font-size: medium;
}

.page-mes-stations .ui-li .ui-btn-inner {
	padding:0.3em 15px;
}

.page-mes-stations ul li .ui-li-aside span
{
	font-weight:bold;
	font-size:14px;
}

.selectionnee .ui-icon-arrow-r{
	background-color : #EB6100;
}

#carte h1 {
	font-size:1em;
}